



<div class="operaciones form large-9 medium-8 columns content">
    <?= $this->Form->create($operacione) ?>
    <fieldset>
        <legend><?= __('Nueva operación') ?></legend>


<div class="form-group">
        <?php echo $this->Form->control('descripcion', ['class' => 'form-control', 'label' => 'Descripción']); ?>
    </div>
    
    
    </fieldset>

    <table class="table" id="grade-table">
    <thead>
        <tr>

            <th></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>

            <td class="actions">
                <a href="#" class="add" title="Agregar"><div class="btn btn-success">  <i class="fa fa-plus-circle fa-lg"></i></div></a>
            </td>
        </tr>
    </tfoot>
</table>

<script id="grade-template" type="text/x-underscore-template">
<?php echo $this->cell('Movimientos');?>
</script>




<?= $this->Form->button(__('Guardar'), ['class' => 'btn btn-primary btn-lg']) ?>
    <?= $this->Form->end() ?>
</div>
